
  
  hr{
    border-top: 3px solid #181313;
  }
  
  .container{
    margin-bottom: 50px;
  }
  .navbar-brand{
      background-color: red;
  }
  .container my-3{
      background-image: url(Capture.PNG);
    
  }
  .second{
      background-image: url(Capture2.PNG);
      padding-left: 80px;
  }
  image{
      padding-right: 200px;
  }
  